/* ***** */
/* VARS */
/* ***** */

:root {
  /* Primary */
  --clr-dark-blue: hsl(233, 26%, 24%);
  --clr-lime-green: hsl(136, 65%, 51%);
  --clr-bright-cyan: hsl(192, 70%, 51%);
  /* Neutral */
  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grayish-blue: hsl(233, 8%, 62%);
  --clr-light-grayish-blue: hsl(220, 16%, 96%);
  --clr-very-light-gray: hsl(0, 0%, 98%);

  /* Typography */
  --ff-sans-normal: "Public Sans", sans-serif;
  --fs-900: 3rem;
  --fs-800: 2.25rem;
  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1.225rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.95rem;
  /* utilities */
  --border-rad: 1.9rem;
  --line-height: 1.5;
}

/* ***** */
/* Reset */
/* ***** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture,
.App {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  font-size: var(--fs-400);
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: var(--clr-dark-blue);
  background-color: var(--clr-white);
  line-height: var(--line-height);
  min-height: 100vh;
}

footer {
  background-color: var(--clr-dark-blue);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button {
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********* */
/* UTILITIES */
/* ********* */

/* General utils */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 1em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Background and text color */

.bg-dark {
  /* background-color: ; */
}

.bg-light {
  /* background-color: ; */
}

.bg-white {
  background-color: var(--clr-white);
}

.text-white {
  color: var(--clr-white);
}

.text-dark {
  /* color: ; */
}

.text-accent {
  /* color: ; */
}

.text-light {
  /* color: ; */
}

/* Font family */

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

/* Font sizes */

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

/* Styles */

.nav {
  position: relative;
  z-index: 1000;
  display: flex;
  margin-inline: 1.5rem;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  height: 26px;
  cursor: pointer;
  width: 26px;
}

.hamburger:active {
  transform: scale(0.9);
}

.nav-items {
  z-index: 500;
  position: absolute;
  background-color: var(--clr-white);
  width: 90%;
  left: 5%;
  top: 4.5rem;
  border-radius: 0.5rem;
  text-align: center;
  /* box-shadow: 0 0 10rem 10rem var(--clr-grayish-blue); */
}

.nav-items > li {
  margin: 1rem;
}

.nav-items > li:hover {
  cursor: pointer;
}

.main {
  text-align: center;
}

.section-1 {
  margin-bottom: 3rem;
}

.phones {
  background-image: url("./images/bg-intro-mobile.svg");
  background-position: center;
  object-fit: cover;
  height: 20.5rem;
  width: 100%;
  object-position: bottom;
}

.h1-main {
  margin-inline: 2rem;
  text-align: center;
  font-size: var(--fs-800);
  line-height: 1.2;
}

p {
  color: var(--clr-grayish-blue);
  font-size: var(--fs-200);
}

.btn {
  background-image: linear-gradient(
    to right,
    var(--clr-lime-green),
    var(--clr-bright-cyan)
  );
  border-radius: var(--border-rad);
  padding: 0.5rem 2rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--clr-white);
  margin: 1.5rem 0;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.section-2 {
  background-color: var(--clr-light-grayish-blue);
  padding: 3rem 1.5rem;
}

.h2-main {
  font-size: var(--fs-700);
  padding: 0 4rem;
}

.bank-icons {
  margin: 1rem auto;
}

.section-3 {
  padding: 3rem 1.5rem;
  text-align: left;
  background-color: var(--clr-very-light-gray);
}

.h3-small:hover {
  color: var(--clr-lime-green);
}

.article-card {
  background-color: var(--clr-white);
  border-radius: O.3rem;
  padding-bottom: 3rem;
}

.article-img {
  margin: 1rem 0;
  object-fit: cover;
  height: 12rem;
  width: 100%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.article-content {
  padding-inline: 1.5rem;
}

.p-small {
  font-weight: 300;
  font-size: 0.675rem;
  margin: 0.5rem 0;
}

footer {
  color: white;
  text-align: center;
}

.footer-logo {
  padding: 2rem 0 1rem;
  margin: auto;
}

.socials {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.socials > img {
  margin: 0.5rem;
  fill: white;
}

.socials img:hover {
  cursor: pointer;
  fill: var(--clr-lime-green);
}

.re-nav {
  font-size: 0.875rem;
}

.re-nav li {
  margin: 1rem 0;
}

.re-nav li:hover {
  color: var(--clr-lime-green);
  cursor: pointer;
}
